# Day 26
# ---------------------------------------------------------------------------------------------------------
# Python Enumerate

### •	Enumerate a python list and try to print the counter with the list value

In [2]:
list1= ['divya','shri','renu','anurag','sidrath']
print(list(enumerate(list1)))

[(0, 'divya'), (1, 'shri'), (2, 'renu'), (3, 'anurag'), (4, 'sidrath')]

In [3]:
print(enumerate(list1))

<enumerate object at 0x0000022F14DCEF80>

### •	Enumerate a python tuple and try to print the counter with the tuple value

In [4]:
tuple1=('divya','shri','renu','anurag','sidrath')
print(tuple(enumerate(tuple1)))

((0, 'divya'), (1, 'shri'), (2, 'renu'), (3, 'anurag'), (4, 'sidrath'))