#  Day 6
# ------------------------------------------------------------------------------
# Dictionary,Sets

### 1) Write a Python script to merge two Python dictionaries

In [12]:
dict1={'Sankar':98,'Divya':99,'renu':89,'Sidarth':88}
dict2={'virat':76,'manvi':56,'Anurag':100,'Prerna':67}

In [15]:
# merging dict through update fn
print(dict2.update(dict1))    
# changes made in dict2
print(dict2)

None
{'virat': 76, 'manvi': 56, 'Anurag': 100, 'Prerna': 67, 'Sankar': 98, 'Divya': 99, 'renu': 89, 'Sidarth': 88}

In [16]:
print(dict1)

{'Sankar': 98, 'Divya': 99, 'renu': 89, 'Sidarth': 88}

In [17]:
res = {**dict1, **dict2} 
# making by adding two dictionary in another dictionary
print(res)

{'Sankar': 98, 'Divya': 99, 'renu': 89, 'Sidarth': 88, 'virat': 76, 'manvi': 56, 'Anurag': 100, 'Prerna': 67}

In [21]:
res1 = dict1 and dict2  # merging using and 
print(res1)

{'virat': 76, 'manvi': 56, 'Anurag': 100, 'Prerna': 67, 'Sankar': 98, 'Divya': 99, 'renu': 89, 'Sidarth': 88}

In [31]:
print(dict1 ," and dictionary 2 is    ", dict2)
print()
print()
dis =dict2 or dict1
print(dis)

{'Sankar': 98, 'Divya': 99, 'Sidarth': 88}  and dictionary 2 is     {'virat': 76, 'Anurag': 100, 'Prerna': 67, 'Sankar': 98, 'Divya': 99, 'renu': 89}


{'virat': 76, 'Anurag': 100, 'Prerna': 67, 'Sankar': 98, 'Divya': 99, 'renu': 89}

### 2) Write a Python program to remove a key from a dictionary

In [26]:
del dict1['renu']
print(dict1)

{'Sankar': 98, 'Divya': 99, 'Sidarth': 88}

In [27]:
dict2.pop('manvi')

56

In [28]:
print(dict2)

{'virat': 76, 'Anurag': 100, 'Prerna': 67, 'Sankar': 98, 'Divya': 99, 'renu': 89, 'Sidarth': 88}

In [29]:
dict2.popitem() #op last item
print(dict2)

{'virat': 76, 'Anurag': 100, 'Prerna': 67, 'Sankar': 98, 'Divya': 99, 'renu': 89}

### 3) Write a Python program to map two lists into a dictionary

In [33]:
d1=['divya','sankar','renuka','sid','manik','nandu']
d2=[76,89,87,65,75,80]
res = {}
for key in d1:
    for value in d2:
        res[key] = value
        d2.remove(value)
        break  
print("Dictionary is ",str(res))

Dictionary is  {'divya': 76, 'sankar': 89, 'renuka': 87, 'sid': 65, 'manik': 75, 'nandu': 80}

In [43]:
d1=['divya','sankar','renuka','sid','manik','nandu']
d2=[76,89,87,65,75,80]
res1={d1[i]:d2[i] for i in range(len(d1))}
print(res1)

{'divya': 76, 'sankar': 89, 'renuka': 87, 'sid': 65, 'manik': 75, 'nandu': 80}

In [44]:
d1=['divya','sankar','renuka','sid','manik','nandu']
d2=[76,89,87,65,75,80]
rs2 = dict(zip(d1,d2))
print(rs2)

{'divya': 76, 'sankar': 89, 'renuka': 87, 'sid': 65, 'manik': 75, 'nandu': 80}

### 4) Write a Python program to find the length of a set

In [46]:
name={'divi','renu','sid','shri','anu','preu','manik','nandu'}
print("Number of names in Set is :",len(name))

Number of names in Set is : 8

#### trying with add, update,remove and discard fn in set

In [51]:
name={'divi','renu','sid','shri','anu','preu','manik','nandu'}
name2={'sivi','manvi','jeevika','dabbu','komolika'}
name.update(name2)
print("Adding two  sets :", name)

Adding two  sets : {'manik', 'dabbu', 'preu', 'anu', 'nandu', 'jeevika', 'shri', 'komolika', 'divi', 'sivi', 'renu', 'manvi', 'sid'}

In [52]:
name.add("sara")

In [53]:
print(name)

{'manik', 'dabbu', 'sara', 'preu', 'anu', 'nandu', 'jeevika', 'shri', 'komolika', 'divi', 'sivi', 'renu', 'manvi', 'sid'}

In [56]:
name.remove('sara')

In [57]:
name.discard('divi')

In [58]:
print(name)

{'manik', 'dabbu', 'preu', 'anu', 'nandu', 'jeevika', 'shri', 'komolika', 'sivi', 'renu', 'manvi', 'sid'}

### 5) Write a Python program to remove the intersection of a 2nd set from the 1st sets

In [59]:
a1={12,13,14,15,16,17,21,12,13,14,121}
a2={12,13,14,11,88,97,65,15}
print(a1.intersection(a2))

{12, 13, 14, 15}