# Python Basics
## ------------------------------------------------------------------------------------------------------------------------
### Name : Dhivya S
### Day 1

In [35]:
print("hello World")

hello World

##### Addition of two numbers

In [36]:
a=int(input("enter number 1 :"))
b= int(input("enter number 2:"))
c=a+b
print(c)

enter number 1 :

ValueError: invalid literal for int() with base 10: ''

In [37]:
num1 = 15
num2 = 12

sum = num1 + num2

print("Sum of {0} and {1} is {2}" .format(num1, num2, sum))

Sum of 15 and 12 is 27

In [38]:
print(a+b)

TypeError: can only concatenate list (not "int") to list

##### Maximum among two numbers

In [39]:
a=90
b=89
if (a>b):
    print("max among a nad b is " ,a)
else:
    print("max among a nad b is " ,b)

max among a nad b is  90

In [40]:
import math 
print(max(a,b))

90

##### Odd Or Even Number

In [53]:
a=input("enter the number ")
if (int(a) %2!=0):
    print("odd")
else:
    print("even")

enter the number 23
odd

##### Swapping of two numbers

In [42]:
a=9
b=3
tep=a
a=b
b=tep
print(a,b)

3 9

In [43]:
x = 5
y = 10
x, y = y, x
print(x,y)

10 5

In [44]:
x = 10
y = 50
 
# Swapping using xor
x = x ^ y
y = x ^ y
x = x ^ y
 
print(x,y)

50 10

##### Prime number

In [45]:
import math
def is_prime(n):
    if n <= 1:
        return False
 
    max_div = math.floor(math.sqrt(n))
    for i in range(2, 1 + max_div):
        if n % i == 0:
            return False
    return True
c = 0 
 
for n in range(1,100):
    x = is_prime(n)
    c += x
print("Total prime numbers in range :", c)

Total prime numbers in range : 25

In [46]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2,n):
        if n % i == 0:
            return False
    return True
 
c=0
 
for n in range(1,100):
    x = is_prime(n)
    c += x
print("Total prime numbers in range :", c)

Total prime numbers in range : 25

In [47]:
def SieveOfEratosthenes(n):
    prime = [True for i in range(n+1)]
     
    p = 2
    while(p * p <= n):
      
        if (prime[p] == True):
            for i in range(p * p, n + 1, p):
                prime[i] = False
        p += 1
    c = 0
 
    
    for p in range(2, n):
        if prime[p]:
            c += 1
    return c
 
c = SieveOfEratosthenes(100)
print("Total prime numbers in range:", c)

Total prime numbers in range: 25

#### Palindrome Number

In [48]:
def isPalindrome(s):
    return s == s[::-1]

s = "malayalam"
ans = isPalindrome(s)
 
if ans:
    print("Yes")
else:
    print("No")

Yes

In [49]:
def isPalindrome(str):

    for i in range(0, int(len(str)/2)):
        if str[i] != str[len(str)-i-1]:
            return False
    return True

s = "malayalam"
ans = isPalindrome(s)
 
if (ans):
    print("Yes")
else:
    print("No")

Yes

In [50]:
def isPalindrome(s):
   
    rev = ''.join(reversed(s))

    if (s == rev):
        return True
    return False
s = "malayalam"
ans = isPalindrome(s)
 
if (ans):
    print("Yes")
else:
    print("No")

Yes

In [51]:
x = "malayalam"
 
w = ""
for i in x:
    w = i + w
 
if (x == w):
    print("Yes")
else:
    print("No")

Yes

In [52]:
st = 'malayalam'
j = -1
flag = 0
for i in st:
    if i != st[j]:
      j = j - 1
      flag = 1
      break
    j = j - 1
if flag == 1:
    print("No")
else:
    print("Yes")

Yes