# Day 5
# ----------------------------------------------------------------------------------------------------------
# User Inputs, Other Important Datatypes

### 1)	Write a program to create a list of n integer values and do the following
•	Add an item in to the list (using function)  
•	Delete (using function)  
•	Store the largest number from the list to a variable

In [2]:
n=7
a=[]
for i in range(n):
    x=int(input())
    a.append(x)

1
2
3
4
5
6
7

In [3]:
for i in a:
    print(i)

1
2
3
4
5
6
7

In [4]:
for i in range(len(a)):
    print(a[i])

1
2
3
4
5
6
7

### Adding elemnts in list

In [5]:
print("A=",a)
b=['a','s','d','g','h']
a+=b
print("After adding another list :",a)

A= [1, 2, 3, 4, 5, 6, 7]
After adding another list : [1, 2, 3, 4, 5, 6, 7, 'a', 's', 'd', 'g', 'h']

In [6]:
c=[23,3,2,1,5]
a.extend(c)
a

[1, 2, 3, 4, 5, 6, 7, 'a', 's', 'd', 'g', 'h', 23, 3, 2, 1, 5]

In [7]:
a.insert(4,"I am newly inserted element")
print(a)

[1, 2, 3, 4, 'I am newly inserted element', 5, 6, 7, 'a', 's', 'd', 'g', 'h', 23, 3, 2, 1, 5]

### Deleting an element in list

In [8]:
del a[8]

In [9]:
print(a)

[1, 2, 3, 4, 'I am newly inserted element', 5, 6, 7, 's', 'd', 'g', 'h', 23, 3, 2, 1, 5]

In [10]:
del a[8:17]
print(a)

[1, 2, 3, 4, 'I am newly inserted element', 5, 6, 7]

In [11]:
a.pop() # delete a last element in list
print(a)

[1, 2, 3, 4, 'I am newly inserted element', 5, 6]

In [12]:
a.pop(-2) # delete the second last element in list
print(a)

[1, 2, 3, 4, 'I am newly inserted element', 6]

In [20]:
a.remove(4)
print(a)

[1, 2, 3, 'I am newly inserted element', 6]

In [21]:
a.remove(6)
print(a)

[1, 2, 3, 'I am newly inserted element']

### Store the largest number from the list to a variable

In [15]:
lisy =[90,98,78,67,56,45]
max_i=max(lisy)
print("maximun number in list",max_i)

maximun number in list 98

### Store the Smallest number from the list to a variable

In [16]:
lisy =[90,98,78,67,56,45]
min_i=min(lisy)
print("minimun number in list",min_i)

minimun number in list 45

### 2) Create a tuple and print the reverse of the created tuple

In [17]:
tup =(12,12,23,34,34,45,46,47,87,56)
s=sorted(tup)
print("tuple before sorting",tup)
print("Reverse the tuple ",sorted(tup,reverse=True))
print("Sorted tuplr",s)

tuple before sorting (12, 12, 23, 34, 34, 45, 46, 47, 87, 56)
Reverse the tuple  [87, 56, 47, 46, 45, 34, 34, 23, 12, 12]
Sorted tuplr [12, 12, 23, 34, 34, 45, 46, 47, 56, 87]

In [18]:
r=sorted(s, reverse=True)
print("reverse of sorted tuple is ",r)

reverse of sorted tuple is  [87, 56, 47, 46, 45, 34, 34, 23, 12, 12]

### 3) Create a Tuple And Convert into List

In [19]:
tup =(12,12,23,34,34,45,46,47,87,56)
list1=list(tup)
print("tuple is ",tup)
print("Tuple in form as list ",list1)

tuple is  (12, 12, 23, 34, 34, 45, 46, 47, 87, 56)
Tuple in form as list  [12, 12, 23, 34, 34, 45, 46, 47, 87, 56]